*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.barra_ricerca{
    position: relative;
    background-color: #F4F9FD;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0px;
}

#contact{
    margin-left: 10px;
}

#lente{
    position: absolute;
    top: 33px;
    right: 500px;
    width: 20px;
}

.bottoni_testa{
    position: absolute;
    top: 20px;
    right: 170px;
    padding: 10px 30px;
    border: 1px solid #FE775A;
    border-radius: 5px;
    text-decoration: none;
}

.bianco{
    margin-right: 190px;
    color: #FE775A;
}

.arancione{
    color: white;
    background-color: #FE775A;
}

#riga{
    position: absolute;
    width: 100%;
    right: 10px;
    top: 80px;
    color: black;
    background-color: black;
    height: 1px;
}

#logo{
    margin-top: 15px;
}

.btn_navigazione{
    float: right;
    margin-top: 25px;
    text-decoration: none;
}

.btn{
    text-decoration: none;
    color: black;
    margin: 10px 5px;
    font-family: 'Nunito', sans-serif;
}

.jumbotron{
    margin-top: 20px;
    height: 400px;
    background-image: url(img/jumbotron.png);
    background-position: center;
}