*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;

}

.barra_ricerca{
    position: relative;
    background-color: #F4F9FD;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0px;
}

#contact{
    margin-left: 10px;
}

#lente{
    position: absolute;
    top: 33px;
    right: 500px;
    width: 20px;
}

.bottoni_testa{
    position: absolute;
    top: 20px;
    right: 170px;
    padding: 10px 30px;
    border: 1px solid #FE775A;
    border-radius: 5px;
    text-decoration: none;
}

.bianco{
    margin-right: 190px;
    color: #FE775A;
}

.arancione{
    color: white;
    background-color: #FE775A;
}

#riga{
    position: absolute;
    width: 100%;
    right: 10px;
    top: 80px;
    color: black;
    background-color: black;
    height: 1px;
}

#logo{
    margin-top: 15px;
}

.btn_navigazione{
    float: right;
    margin-top: 25px;
    text-decoration: none;
}

.btn{
    text-decoration: none;
    color: black;
    margin: 10px 5px;
    font-family: 'Nunito', sans-serif;
}

.jumbotron{
    position: relative;
    margin-top: 20px;
    height: 530px;
    background-image: url(../img/jumbotron.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #FFF4EF;
    background-size: cover;
}

#piccolo{
    margin-top: 70px;
    font-size: 15px;
}

.divisore{
    position: relative;
    bottom: 80px;
    height: 80px;
    background-color: #AFEBE4;
}

#divisore_alto{
    color: black;
    background-color: black;
    height: 3px;
}

#divisore_basso{
    color: black;
    background-color: black;
    height: 3px;
    margin-top: 74px;
}

main {
    background-color: #F4F9FD;
    text-align: center;
}

.centrale{
    height:1180px;
}

#cubo{
    width: 250px;
    padding-top: 50px;
}

.centrale > h2{
    color: #2a3541;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.centrale > p{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


.jumbotron h2{
    font-size: 50px;
    color: #506070;
    width: 500px;
}

.jumbotron p{
    font-size: 17px;
    color: #2a3541;
    width: 500px;
}

#a_jumbotron{
    position: relative;
    top: 35px;
    padding: 15px 30px;
    border: 1px solid #FE775A;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color:#FE775A;
    margin-top: 200px;
}

#rettangolo{
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 30px;
}

#rettangolo::after{
    content: "";
    display: table;
    clear: both;
}

#book{
    width: 120px;
}

.hubs_section h2{
    color: #2a3541;
    font-family: 'Nunito', sans-serif;
}

.hubs_section p{
    color: #2a3541;
    font-family: 'Nunito', sans-serif;
    margin-left: 100px;
}
.hubs_section a{
    border: 1px solid #FE775A;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color:#FE775A;
    width: 80px;
}

.hubs_section h4{
    text-transform: uppercase;
    color: #2a3541;
    margin-top: 20px;
    margin-left: 120px;
    font-family: 'Nunito', sans-serif;
    border-right: 4px #2a3541;
}

.sx{
    float: left;
    width: 30%;
}

.dx{
    float: left;
    width: 70%;
}

#learn_more{
    display: block;
    width: 50%;
    padding: 10px 20px;
    margin-left: 25%;
}

.bassi{
    display: inline-block;
}

.tondo{
    color: white;
    background-color: #FE775A;
    border: 2px solid #FE775A;
    border-radius: 45%;
    margin-right: 10px;
}


#bolle{
    margin-top: 10px;
    width: 60px;
}

.primo_riquadro{
    background-color: white;
    width: 31%;
    text-align: center;
    margin-top: 30px;
    float: left;
}

.verticali p{
    margin-right: 30%;
  }

.popolar_feature{
        text-align: center;
        text-transform: uppercase;
        margin-top: 20%;
}

li{
    list-style: none;
 }

 .secondo_riquadro{
    background-color: white;
    width: 31%;
    text-align: center;
    margin-top: 30px;
    float: left;
    margin-left: 3%;
 }

 #borsa{
     margin-top: 10px;
     width: 30%;
 }

 .learn_more_verticali{
    display: block;
    padding: 10px 20px;
    margin-left: 25%;
    margin-top: 10%;
 }

 .terzo_riquadro{
    background-color: white;
    width: 31%;
    text-align: center;
    margin-top: 30px;
    float: left;
    margin-left: 4%;
 }

 .terzo_riquadro p{
     width: 60%;
    }

 #tavolo{
     margin-top: 10px;
     width: 25%;
 }

 .tabellare{
     background-image: linear-gradient(to right, #00A4BB 0%, #00BDA5 100%);
     background-color: #00ABB6;
     background-size: cover;
     border: 1px solid black;
     padding: 20px 0px;
 }

 .tabellare h2{
     color: white;
     text-align: center;
     margin-top: 1%;
     font-family: 'Nunito', sans-serif;
 }

 .tabellare p{
    color: white;
    margin-top: 1%;
    font-family: 'Nunito', sans-serif;
 }

 .griglia{
     margin-top: 5%;
 }

 .riga > div{
        border-left: 1px solid white;
        width: 25%;
        height: 100px;
        float: left;
 }

 .riga::after{
     content: "";
     display: table;
     clear: both;
 }

 .riga:first-child{
     border-bottom: 1px solid white;
 }

 .riga > div:first-child{
     border-left: 0px;
 }

 .alto_sx{
     float: left;
 }

.alto_sx{
    float: left;
}

.loghi{
    width: 180px;
}